*{

margin: 0;
padding: 0;
box-sizing: border-box;	
}
body{
	overflow-x: hidden;
}

.navbar{

	background: #161b22;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* padding: 20px; */
	padding: 0 30px;
}
.navbar img {
	height: 30px;
	width: 30px;
	background: #fff;
	border-radius: 50%;
	cursor: pointer;
	/* margin-left: 20px; */
}
 .left_div{
	display: flex;
	justify-content: center;
	align-items: center;
 }

ul {
display: flex;
align-items: center;

}
a {
	text-decoration: none;
	color: #c9d1d9;
	list-style-type: none;
	font-size: 25px;
	margin: 0 10px;
}

li{

}
searchbar{
		height: 30px;
		border: 1px solid white;
        padding: 10px;
        background-color: #0000;
        border-radius: 10px;
        color: #ffffff;
        font-size: 18px;
        outline: none;
        width: 200px;
		caret-color: red;
}


searchbar::placeholder{
color: #c9d1d9;
font-size: 15px;


}

#rig_div{
	display: flex;
	gap:10px;
}

.icon{
	justify-content: center;

}
.cards{
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	padding: 5px;
	/* border: 2px solid black; */
	border-radius: 10px;
	height: 275px;
	width: 200px;
	cursor: pointer;
}


.cards > img{
	/* height: 125px; */
	height: auto;
	width:100%;
	background-repeat: no-repeat;
	background-size: contain; 
	border-radius: 5px;
}

.cards > img:hover {
	transform: scale(1.2);
	transition: all 0.3s;
}
.cards > button{
	background-color: rgba(255, 166, 0, 0.648);
	color: aliceblue;
	border-radius: 11px;
	/* width: 160px; */
	font-size: 15px;
	border-color: #c9d1d9;
	font-weight: bold;
	/* height: 25px; */
	cursor: pointer;
	padding: 5px;
	margin: 0 40px;

}




.review{
	margin-top: 30px;
	 display: flex;
	 justify-content: space-evenly;
	 align-items: center;
	 height: auto;
	 max-width: 1000px;
	 background-color: #ccc;
	 padding: 25px;
	 border-radius: 11px;
}

.review_box {
	padding: 20px;
	border-radius: 11px;
	background-color: crimson;
	height: 250px;
	width: 400px;
}
.review_box img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.user_name {
	font-size: 18px;
	color: white;
}
.fa{
	margin-top: 10px;
}
.checked{
	color: orange;
}
.feedback{
	width: 350px;
    height: 125px;
    margin-top: 10px;
    
}


form > input{
	height: 30px;
	width:230px;
	margin: 3px auto;
	padding: 5px;
}

form  > textarea{
	height: 100px;
	width:230px;
	margin: 10px auto;
}
button{
	margin: 10px 80px;
	font-size: 15px;
	color: #c9d1d9;
	background-color: orangered;
	border-radius: 8px;
	padding: 10px;
	border: none;
	cursor: pointer;
}