*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    /* margin: 400px 500px; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: bisque;
     */
     background: transparent;
}
.error {
    color: red;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #746c6c;
    height: 300px;
    width: 500px;
    border-radius: 11px;
    box-shadow: rgb(red, green, blue);opacity: .1s;

}
input{
    padding: 12px;
    width: 250px;
    font-size: 15px;
    outline: none;
}
button{
    padding: 12px 30px;
    border: 1px solid #ccc;
    background-color: rgb(241, 25, 25);
    border-radius: 50px;
    text-transform: uppercase;
    color: #ccc;
         
}
button:active{
    transform: scale(.9);
}